.jumbotron {
  background-color: rgb(241, 201, 23);
  color: black;
  margin-top: 50px;
}

footer {
  padding: 10px 10px 0 10px;
  background-color: rgb(255, 253, 152);
  margin-top: 10px;
  margin-bottom: 0px;
}

.botpinfo {
  margin: 2px;
}

.card-hotel {
  flex: 1 200px;
  margin-top: 10px;
}

.btn-reserva {
  width: auto;
  border-radius: 5px;
  margin: 2px;
}

.footer-address-icon {
  padding-right: 10px;
}

.tab-content {
  padding-top: 10px;
}