$yellow: #ece937;

@mixin margenes($top, $botttom) {
    margin-top: $top;
    margin-bottom: $botttom;
}

.jumbotron {
    background-color: $yellow;
    color: black;
    @include margenes(50px, 0px );
  }
  
  footer {
    padding: 10px 10px 0 10px;
    background-color: $yellow;
    @include margenes(10px, 0px );
  }
  
  .botpinfo {
    margin: 2px;
  }
  
  .card-hotel {
    flex: 1 200px;
    @include margenes(10px, 0px );
  }
  
  .btn-reserva {
    width: auto;
    border-radius: 5px;
    margin: 2px;
  }
  
  .footer-address-icon {
    padding-right: 10px;
  }
  
  .tab-content {
    padding-top: 10px;
  }