@yellow: #f3f17c;

.margenes(@top: 0px, @botttom: 0px) {
    margin-top: @top;
    margin-bottom: @botttom;
}

.jumbotron {
    background-color: @yellow;
    color: black;
    margin-top: 50px;
    margin-bottom: 10px; }
  
  footer {
    padding: 10px 10px 0 10px;
    background-color: @yellow;
    margin-top: 10px;
    margin-bottom: 0px; }
  
  .botpinfo {
    margin: 2px; }
  
  .card-hotel {
    flex: 1 200px;
    margin-top: 10px;
    margin-bottom: 0px; }
  
  .btn-reserva {
    width: auto;
    border-radius: 5px;
    margin: 2px; }
  
  .footer-address-icon {
    padding-right: 10px; }
  
  .tab-content {
    padding-top: 10px; }